@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
:root{
    --primary-color: #760000;
    --secondary-color: #2e2c26;
    --accent1-color: #00b8b4;
    --accent2-color: #EECD5C;
    --heading-font: "Jacquard 12";
    --paragraph-font: "Jersey 10";
}
ul li:nth-child(even) {
    list-style: none;
}
header{
    background-color: black;

}
footer{
    background-color: black;
    height: 100%;
    display: flex;
    padding: 10px;
    justify-items: left;
    gap: 10px;
}
body{
    margin: 0;
    background-image: url(./../images/nether_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main{
    margin-left: 20%;
    margin-right: 20%;
    
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
#content{
    width: 100%;
    background-color: #2e2c26;
    padding: 10px;
}
#content img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin: 10px;
}
.img_left{
    float: left;
}
.img_right{
    float: right;
}
a{
    font-family: var(--paragraph-font);
    font-size: 30px;
    color: #EECD5C; 
}
p, li {
    font-family: var(--paragraph-font);
    color: #760000;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-align: justify;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h1, h3{
    font-family: var(--heading-font);
    color: #EECD5C;
    text-align: center;
}
#gold_list_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#gold_list_img img{
    width: 40%;
}